<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScheduleDaysCount" value="5"/>
    <add key="WorkingTimeLength" value="10"/>
    <add key="WorkingTimePerMonthMax" value="3"/>
    <add key="EmployeeCount" value="4"/>
    <add key="FolderName" value="Test1"/>
    <add key="NumberOfSets" value="5"/>
  </appSettings>
</configuration>
