<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScheduleDaysCount" value="15"/>
    <add key="WorkingTimeLength" value="10"/>
    <add key="WorkingTimePerMonthMax" value="20"/>
    <add key="EmployeeCount" value="8"/>
    <add key="FolderName" value="Test2"/>
    <add key="NumberOfSets" value="10"/>
    <add key="ShiftWeightMax" value="1"/>
  </appSettings>
</configuration>
