<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScheduleDaysCount" value="20"/>
    <add key="DayAssignmentDensity" value="0,5"/>
    <add key="WorkingTimePerMonthMin" value="80"/>
    <add key="WorkingTimePerMonthMax" value="100"/>
    <add key="WorkingTimePerDay" value="8"/>
    <add key="NumberOfShiftWeightValues" value="4"/>
    <add key="EmployeeCount" value="10"/>
    <add key="NumberOfSets" value="10"/>
    <add key="DifficultyToFulfilRequirements" value="0,9"/>
  </appSettings>
</configuration>
