<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScheduleDaysCount" value="20"/>
    <add key="DayAssignmentDensity" value="0,8"/>
    <add key="WorkingTimePerMonthMin" value="128"/>
    <add key="WorkingTimePerMonthMax" value="160"/>
    <add key="WorkingTimePerDay" value="8"/>
    <add key="NumberOfShiftWeightValues" value="4"/>
    <add key="EmployeeCount" value="30"/>
    <add key="NumberOfSets" value="5"/>
    <add key="DifficultyToFulfilRequirements" value="0,9"/>
    <add key="ToleranceAssignmentProbability" value="0,8"/>
    <add key="ToleranceUseProbability" value="0,1"/>
    <add key="PastPeriodCount" value="3"/>
  </appSettings>
</configuration>
