<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AlgorithmStrategy" value="TimeUnitAlgorithm RandomTimeUnitChooser RandomScheduleChooser RandomRemainingPeopleChooser"/>
    <add key="MaxDailyWork" value="8"/>
    <add key="MaxConsecutiveWorkHours" value="4"/>
    <add key="WorkerPauseLength" value="1"/>
  </appSettings>
</configuration>
