<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="GeneratedDataFolder" value="../../GeneratedData"/>
    <add key="ConfigurationsFolder" value="../../Configurations"/>
    <add key="DataSetFolderName" value="Set"/>
  </appSettings>
</configuration>